
header{
	background-image: url("img/galaxie2.jpg");
}

header>h1{
  color:WHITE;
  text-shadow: 4px 4px BLACK;
  float:right;
  margin-right: 5%;
  font-size: 90px;
}

header .fond{
	height:200px;
	width: 250px;
	text-align: left;
}

header .logo{
	text-align: left;
  height: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.topnav{
  background-color: BLACK;
  padding-bottom: 5px;
  padding-top: 5px;
}
.topnav a {
  text-decoration: none;
  color: WHITE;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav a:hover, a.active{
  background-color: WHITE;
  color : BLACK;
}

.bloc-image{
	position: relative;
	max-width:382px;
	max-height: 275px;
	margin: 0 auto;
	padding-top: 15px;
}

.bloc-imageBar{
	position: relative;
	max-width: 380px;
	max-height: 275px;
	margin: auto auto;
	padding-top: 5px;
	padding-bottom: 15 px;
}

.bloc-image img{
	vertical-align:center;
	height: 275px;
}

.bloc-imageBar img{
	vertical-align:center;
	height: 275px;
}

.bloc-image:hover .overlay{
	opacity:1;
}

.bloc-image .overlay{
	text-align:center;
	font-size: 15px;
	position: absolute;
	bottom:0;
	background: rgba(0,0,0,0.5);
	color: WHITE;
	width:100%;
	opacity: 0;
	transition: .5s ease;
	padding: 15px;
}

.bloc-imageBar .overlayPerm {
	text-align:center;
	font-size: 15px;
	position: absolute;
	bottom:0;
	background: rgba(0,0,0,0.5);
	color: WHITE;
	width:100%;
	opacity: 1;
	padding: 15px;
}

p.centre{
  text-align: center;
}

footer{
  background-color: BLACK;
  color : WHITE;
  text-align: center;
  font-size: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.row > .column{
	padding-bottom: 20px;
	padding-top: 10px;
}

.column{
	float: left;
	width: 50%;
}

.menu{
	text-align:center;
}

.menu li {
	list-style-type:disc;
}

.main_content{
	text-align:center;
}

.main_content a{
	text-decoration:none;
	color:BLACK;
}